.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .item{
    padding: 25px;
    border: 8px solid white;
    position: relative;
    overflow: hidden;
  
  }
  img{
    width: 100%;
  }
  .overlay { 
    transition: bottom ease 1s;
    position: absolute;
    bottom: -100%;
    left: 0%;
    width: 100%;
    background-color: blanchedalmond;
    opacity: 0.6;
  }
  .item:hover .overlay{
    opacity: .6;
    bottom: 0%;
  }
  
